:root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

.author {
  font-size: 12px;
  font-family: 'Figtree';
}
